:root{
    --Dark_Blue: hsl(217, 28%, 15%);
    --Dark_BlueM: hsl(218, 28%, 13%);
    --Dark_BlueF: hsl(216, 53%, 9%);
    --Dark_BlueT: hsl(219, 30%, 18%);
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --ff:  'Raleway', sans-serif;
}

body{
    background: var(--Dark_Blue);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}
/*               Header          */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;
    padding:  0 2rem;
}
.hero__img{
    width: 150px;
}
.main-menu__link{
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: all ease .8s;
}
.main-menu__link:hover{
    color: var(--Cyan);
}
/*               Header          */

/*               Welcome        */
.welcome{
    position: relative;
 
    padding: 10% 18%;
    text-align: center;
    color: #fff;
}
.welcome__box-img,
.welcome__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcome__box-text{
    padding: 8% 0;
}
.welcome__title{
     font-family: var(--ff);
     font-weight: 700;
     font-size: 50px;
     line-height: 60px;
}
.welcome__description{
    padding: 0 10%;
    line-height: 40px;
    font-size: 25px;
}
.welcome__btn{
    margin-top: 20px;
    border: 2px solid var(--Blue);
    border-radius: 30px;
    background: var(--Blue);
    color: #fff;
    font-weight: bold;
    transition: all ease .8s;
    width: 40%;
    padding: 15px 20px;
}
.welcome__btn:hover{
    background: none;
    color: var(--Blue);
}


/*               Welcome        */

/*               Services        */
.services{
    background: var(--Dark_BlueM);
    color: #fff;
}
.services__box{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-auto-rows: minmax(350px,1fr);
    gap: 30px;
}
.services__card{
    text-align: center;
    padding: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services__card-title{
    margin: 0;
    margin-top: 20px;
}
.services__card-text{
    line-height: 30px;
}
/*               Services        */

/*               Media Queris          */
@media screen and (max-width:1050px){
    .services__box{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
}

@media screen and (max-width:900px){
    .hero__img{
        width: 125px;
    }
    .welcome{
        padding: 8% 10%;
    }
    .welcome__title{
        font-size: 40px;
    }
    .services__box{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .services__card{
        padding: 5%;
    }
}
@media screen and (max-width:650px){
    .hero{
        padding: 0 1rem;
    }
    .hero__img{
        width: 100px;
    }
    .main-menu__link{
        font-size: 16px;
        padding: 10px;
    }
    .welcome{
        padding: 5% 5%;
    }
    .welcome__title{
        font-size: 30px;
        line-height: 40px;
    }
    .welcome__description{
        font-size: 16px;
        line-height: 25px;
        padding: 0;
    }
    .welcome__btn{
        width: 80%;
    }
    .services__card{
        padding: 3%;
    }
    .services__box{
        width: 90%;
    }
}
@media screen and (max-width:340px){
    .hero{
        padding: 0;
    }
    .hero__img{
        width: 70px;
    }
    .main-menu__link{
        font-size: 14px;
        padding:  0 5px;
    }
    .services__box{
        width: 100%;
    }
    .services__card-title{
       font-size: 22px;
    }
    .services__card-text{
        font-size: 14px;
    }
}
/*               Media Queris          */




























/* Atribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* Atribution */